name: UI Tests
on: [push, pull_request]

permissions:
  pull-requests: write
  checks: write

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nanasess/setup-chromedriver@v2
      - name: Start ChromeDriver
        run: |
          export DISPLAY=:99
          chromedriver --url-base=/wd/hub --port=4444 &
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Set up Python 3.13
        run: uv python install 3.13
        shell: bash
      - name: Install dependencies
        run: uv sync --all-extras --dev
        shell: bash
      - name: Run tests
        run : uv run pytest --alluredir=./allure-report
        env:
          DISPLAY: :99
      - name: Upload Allure results  # Загружаем результаты тестов в GitHub Actions
        if: always()  # Загружаем файлы независимо от успеха/неуспеха тестов
        uses: actions/upload-artifact@v4
        with:
          name: allure-results  # Название артефакта
          path: allure-results  # Путь к файлам отчета

  allure:
      name: Generate Allure Report
      needs: [ run-tests ]  # Выполняется только после успешного выполнения run-tests
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Get Allure history
          uses: actions/checkout@v4
          continue-on-error: true
          with:
            ref: gh-pages
            path: gh-pages

        - name: Allure Report action from repo
          uses: ./
          with:
            allure_results: allure-results
            allure_history: allure-history
            keep_reports: 20

        - name: Deploy report to Github Pages
          uses: peaceiris/actions-gh-pages@v4
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_branch: gh-pages
            publish_dir: allure-history